body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

P {
    font-size: 20 PX;                                /*AGRANDA EL PARRAFO*/
}

li { 
    list-style: none;                                /*BORRA LOS ESTILOS DE LA LISTA*/
margin-right: 25px;                                  /*ME DA UN ESPACIADO HACIA LA DERECHA*/

}

.menu {
    display: flex;                                   /*SIRVE PARA PONER LOS ELEMENTOS UNO AL LADO DEL OTRO*/
justify-content: space-between;                      /*ESTO SIRVE PARA JUSTIFICAR EL CONTENIDO Y SPACE BETWEEN ME LOS SEPARA EN UNA PUNTA A CADA UNO*/
align-items: center;                                 /*ALINEA LOS ELEMENTOS, EN ESTE CASO DEL MENU*/
}

.lista {
    display: flex;
}

a {
    text-decoration: none;                           /*ESTE CODIGO LO QUE HACE ES SACARLE EL SUBRAYADO A MI "A" */
    font-size: 14px;                                 /*SIRVE PARA AGRANDAR EL TEXTO*/
    background: #5cb8ff;                           /*SIRVE PARA DARLE COLOR DE FONDO*/
    padding: 20PX 30PX 20PX 30PX;                    /*ES EL ESPACIADO INTERNO DE TU ELEMENTO*/
    color: white;                                  /*LE DA COLOR A TU TEXTO*/
}

.titular {
    text-align: center;                              /*ESTO SIRVE PARA ALINEAR EL TEXTO CENTRADO*/
    margin-top: 200px;                               /*SIRVE PARA BAJAR UN ELEMENTO*/
}

h1 {
    font-size: 60px;                                 /*SIRVE PARA AGRANDAR EL TEXTO*/
    margin: 0;                                      /*ESTE MARGIN SIRVE PARA PONER MAGEN A LOS 4 LADOS, TOP, BUTTON, RIGHT, LEFT. LE SACA LO NARANJA SI TE FIJAS EN INSPECCIONAR*/ 
}

h2 {
    font-size: 25px;                                 /*SIRVE PARA AGRANDAR EL TEXTO*/
    margin-bottom: 40px;                             /*ESTE MARGIN BOTTOM SIRVE PARA DARLE MARGEN HACIA ABAJO.*/
}

header {
    background: url(../imagenes/fondo.jpg);          /*ESTE BACKGROUND AGREGA UNA IMAGEN, EN ESTE CASO A MI HEADER */
    height: 100VH;                                   /*ESTE VH UTILIZA EN ESTE CASO EL 100% DEL TAMAÑO DE TU VENTANA DE NAVEGADOR*/
    background-size: cover;                          /*ESTE CODIGO HACER QUE UBICA EL FONDO DE UNA MANERA TAL QUE SE ADAPTE A LA VENTANA*/
    background-position: center;                     /*SIRVE PARA COLOCAR LA IMAGEN DE FONDO EN EL CENTRO DE SU CONTENEDOR. ESTO SIGNIFICA QUE EL PUNTO CENTRAL DE LA IMAGEN COINCIDIRA CON EL CENTRO DEL ELEMENTO AL QUE SE APLICA.*/
    }

.contenedor {
    max-width: 1280px;                               /*LE DA EL MAXIMO DE ANCHO A TU PAGINA*/
    width: 90%;                                      
    margin: auto;
}

/*ARRANCA LA SECCION SOBRE NOSOTROS*/

H3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-parrafo-y-boton {
    width: 42%;
}

.contenedor-parrafo-y-boton p {
    font-size: 18px;
}

.parrafo-final {
    margin-bottom: 30px;
}
