body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

P {
    font-size: 20 PX;                                /*AGRANDA EL PARRAFO*/
}

li { 
    list-style: none;                                /*BORRA LOS ESTILOS DE LA LISTA*/
margin-right: 25px;                                  /*ME DA UN ESPACIADO HACIA LA DERECHA*/

}

.menu {
    display: flex;                                   /*SIRVE PARA PONER LOS ELEMENTOS UNO AL LADO DEL OTRO*/
justify-content: space-between;                      /*ESTO SIRVE PARA JUSTIFICAR EL CONTENIDO Y SPACE BETWEEN ME LOS SEPARA EN UNA PUNTA A CADA UNO*/
align-items: center;                                 /*ALINEA LOS ELEMENTOS, EN ESTE CASO DEL MENU*/
}

.lista {
    display: flex;
}

a {
    text-decoration: none;                           /*ESTE CODIGO LO QUE HACE ES SACARLE EL SUBRAYADO A MI "A" */
    font-size: 14px;                                 /*SIRVE PARA AGRANDAR EL TEXTO*/
    background: #5cb8ff;                           /*SIRVE PARA DARLE COLOR DE FONDO*/
    padding: 20PX 30PX 20PX 30PX;                    /*ES EL ESPACIADO INTERNO DE TU ELEMENTO*/
    color: white;   
    transition: 1s;               /*LE DA COLOR A TU TEXTO*/
}

.titular {
    text-align: center;                              /*ESTO SIRVE PARA ALINEAR EL TEXTO CENTRADO*/
    margin-top: 200px;                               /*SIRVE PARA BAJAR UN ELEMENTO*/
}

h1 {
    font-size: 60px;                                 /*SIRVE PARA AGRANDAR EL TEXTO*/
    margin: 0;                                      /*ESTE MARGIN SIRVE PARA PONER MAGEN A LOS 4 LADOS, TOP, BUTTON, RIGHT, LEFT. LE SACA LO NARANJA SI TE FIJAS EN INSPECCIONAR*/ 
}

h2 {
    font-size: 25px;                                 /*SIRVE PARA AGRANDAR EL TEXTO*/
    margin-bottom: 40px;                             /*ESTE MARGIN BOTTOM SIRVE PARA DARLE MARGEN HACIA ABAJO.*/
}

header {
    background: url(../imagenes/fondo.jpg);          /*ESTE BACKGROUND AGREGA UNA IMAGEN, EN ESTE CASO A MI HEADER */
    height: 100VH;                                   /*ESTE VH UTILIZA EN ESTE CASO EL 100% DEL TAMAÑO DE TU VENTANA DE NAVEGADOR*/
    background-size: cover;                          /*ESTE CODIGO HACER QUE UBICA EL FONDO DE UNA MANERA TAL QUE SE ADAPTE A LA VENTANA*/
    background-position: center;                     /*SIRVE PARA COLOCAR LA IMAGEN DE FONDO EN EL CENTRO DE SU CONTENEDOR. ESTO SIGNIFICA QUE EL PUNTO CENTRAL DE LA IMAGEN COINCIDIRA CON EL CENTRO DEL ELEMENTO AL QUE SE APLICA.*/
    }

.contenedor {
    max-width: 1280px;                               /*LE DA EL MAXIMO DE ANCHO A TU PAGINA*/
    width: 90%;                                      
    margin: auto;
}

/*ARRANCA LA SECCION SOBRE NOSOTROS*/

H3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-parrafo-y-boton {
    width: 42%;
}

.contenedor-parrafo-y-boton p {
    font-size: 18px;
}

.parrafo-final {
    margin-bottom: 30px;
}


/*ARRANCA SECCION SERVICIOS*/

.contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio {
    width: 25%;
    padding: 50px 38px 50px 38px;
    border-radius: 10px;                               /*TE DA EL BORDE REDONDEADO DE TU ELEMENTO*/
    margin-bottom: 40PX;                               /*TE DA UN MARGEN HACIA ABAJO*/
    color: white;
}

.violeta {
    background: #5055df;
}

.celeste {
    background: #40a8fa;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}

.servicio img {
    float: right;
}

.servicio p {
    font-size: 18px;
    height: 200px;
}

span {
    font-size: 80px;
    color: blue;
}

.owl-nav {
    text-align: center;
}

.contenedor-porque {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.contenedor-porque h4 {
    margin: 0;
    font-size: 20px;
}

.contenedor-porque p {
    font-size: 16px;
    line-height: 28px;
}

.porque-singular {
    width: 28%;
}

#blog {
    background: #f9f4fc;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor-publicaciones {
    display: flex;
    justify-content: space-around;
}

.publicacion {
    width: 30%;
    box-shadow: 1px 1px 14px #ccc;
    padding-bottom: 20px;
}

#blog img {
    width: 100%;
}

#blog h4 {
    font-size: 23px;
    margin: 0;
    padding: 20px;
}

#blog p {
    color: #5a6169;
    line-height: 24px;
    font-size: 16px;
    padding: 10px 20px 20px 20px;
    margin: 0;
}

#blog a {
    display: inline-block;
    margin-left: 20px;
}

.publicacion-segunda img {
    height: 245px;
}

.primer-parrafo {
    padding: 0px 20px 20px 20px !important;
}

#que-esperas {
    background: linear-gradient(rgba(84,93,220,.94),rgba(96,171,245,.9));
text-align: center;
padding: 50px 0 50px 0;
}

#que-esperas h3 {
    font-size: 23px;
    color: #fff;
    margin-bottom: 40px;
}

#que-esperas a {
    padding: 15px 45px 15px 45px;
    transition: 1s;
}

#que-esperas a:hover {
    color: black;
    transition: 1s;
    transform: scale(1.4);
    display: inline-block;
}

a:hover {
    color: black;
    transition: 1s;
}

#whatsapp a {
    background: none;
    position: fixed;
    top: 85%;
    right: 1%;
}